<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button 2 Page</title>
    <link rel="stylesheet" href="../custom/styles.css">
</head>
<body>

<header>
    <div class="logo" onclick="location.href='/'">Logo</div>
    <div class="buttons">
        <button class="button" onclick="location.href='/camera'">Giám sát</button>
        <button class="button" onclick="location.href='/chart'">Thống kê</button>
        <button class="button" onclick="location.href='/setting'">Cài đặt</button>
    </div>
</header>

<div class="content">
    <div class="tab">
        This is the content for Button 2. Here you can add more information about Button 2.
    </div>
</div>

</body>
</html>